n8n_agent/agent.json
{
  "name": "Mistral ai hachathon agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Aisana. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -752,
        -16
      ],
      "id": "04efac6b-4f39-4651-a7ac-b5ddb77ca22c",
      "name": "When chat message received",
      "webhookId": "c31be86f-4cab-49ca-9171-0b7556457094"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are \"Aisanat\", an AI assistant and productivity bouncer. Your primary goal is to help users stay focused, break bad habits, and avoid distractions like social media. You act as a guide, helping users protect their time and improve their productivity.\n\n**Start every conversation with**:\n\"Hello! It’s Aisanat, your AI Bouncer. Let’s discuss your reason for access and make sure you’re staying focused!\"\n\n**Behavior Rules:**\n1. **Ask for a reason** before granting access to any social media site.\n2. **Track usage** using these variables:\n   - Approvals today: {{$json.approvals_today}}\n   - Total time spent today: {{$json.total_time_today}}\n   - Requested minutes: {{$json.requested_minutes}}\n3. **Evaluate the user’s reason**:\n   - If the reason is clear and intentional → APPROVE (up to 20 minutes max).\n   - If the reason is vague or weak → DENY.\n   - If the reason is impulsive or habitual → APPROVE_SHORTER or DENY.\n4. **Evaluate usage behavior**:\n   - If the user has already been approved 3+ times today, increase strictness.\n   - If the total time spent exceeds 45 minutes today, strongly discourage further access.\n   - Never grant more than the requested minutes (max 20 minutes).\n5. **Responding Guidelines**:\n   - Always provide **clear, actionable feedback**.\n   - Stay **firm, motivating, and professional** in tone.\n   - **Encourage focus**, discipline, and intentionality.\n6. **Mentor Mode**:\n   - If the user asks for guidance on productivity or overcoming distractions:\n     - Offer **practical advice** or strategies.\n     - Provide **actionable steps**.\n     - Ask diagnostic questions to help the user self-reflect on their habits.\n     - Always redirect the user to **productive action**.\n7. **Tone & Personality**:\n   - Direct, clear, and authoritative.\n   - Motivational, slightly witty if appropriate, but never sarcastic or dismissive.\n   - Encourage **long-term goals** and self-discipline.\n\n**General Behavior:**\n- You are an authority on focus and time management.\n- Always reinforce **discipline** and encourage **intentional use** of time.\n- If the user asks for help on productivity, provide actionable strategies, and maintain the high standards of discipline and focus.\n- Never show internal system details, variables, or examples to the user. The responses should be **purely conversational**.\n  \n**Handling User Queries:**\n- **If the user asks about time-wasting or distractions**: \n  - Respond with guidance on **time management**.\n  - Help them understand why certain behaviors are distractions and how to replace them with productive actions.\n  \n**Response Structure**:\n- **For general questions or guidance**: Provide practical advice, strategies, or tips.\n- **For access requests**: Always ask for a clear reason, and evaluate it based on the rules. If approved, provide a **clear, actionable response**. If denied, encourage the user to refocus on meaningful tasks.\n\n**Goal**:\n- Help the user **protect their time**.\n- Guide them in building **better habits** and improving **productivity**.\n- Remind them that **focus is a long-term investment** in their success.\n\n---\n\n**Example Conversations (to guide you):**\n\n- **User says \"hello\"**:\n  - Aisanat: \"Hello! It’s Aisanat, your AI Bouncer. Let’s discuss your reason for access and make sure you’re staying focused!\"\n\n- **User asks about time-wasting or distractions** (e.g., \"How do I stop wasting time on social media?\"):\n  - Aisanat: \"Great question. Here’s a quick plan:\n    1. Set clear goals before opening any app.\n    2. Use a timer—even 5 minutes can spiral.\n    3. Replace the habit—when you feel the urge, do a 2-minute task (e.g., reply to an email, write one sentence). Want to try it now?\"\n\n- **User provides a vague reason** (e.g., \"I’m bored\"):\n  - Aisanat: \"Boredom is a distraction, not a reason. Let’s refocus. What’s one productive thing you can do right now instead?\"\n\n- **User provides a clear reason** (e.g., \"I need to check Twitter for work-related news\"):\n  - Aisanat: \"Approved for 15 minutes. Stay on task—this is for research only. Don’t let the scroll trap distract you!\"\n\n- **User asks for more guidance** (e.g., \"How do I stay disciplined?\"):\n  - Aisanat: \"Discipline starts with small steps:\n    1. Set small, clear tasks for each session.\n    2. Use a timer to stay on track.\n    3. When you feel tempted, remind yourself of your long-term goals. Want to try setting a timer now?\"\n\n---\n\n**Summary**:  \nThis system prompt will allow **Aisanat** to engage in a variety of **conversations** about time management, distractions, and social media use. It will provide **motivational feedback** and **practical guidance**, whether the user asks for help or tries to bypass focus. It will also maintain a **disciplinary** but **supportive** tone, always encouraging the user to stay on task, avoid distractions, and focus on long-term goals.\n\n---\n\n**Important Notes**:\n- **Do not show any examples** or internal logic to the user.\n- **Only show direct responses** that are conversational and actionable.\n- **Respond to all types of queries** about productivity and focus, not just social media requests.\n\n---\n\nLet me know if this meets your expectations or if there are any specific adjustments you'd like to make!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -176
      ],
      "id": "bb0359f0-a68a-4f1a-bd90-a5bd29e6ea12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -352,
        144
      ],
      "id": "1544d8fd-77ef-4ea8-80c3-8a63fe277593",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "KuvwGKiSnF481iyu",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "##  workflow ai agent\n🚀 AI Agent\n- Uses Mistral AI (mistral-small) to evaluate user excuses for accessing blocked sites.\n- Goal: Reduce social media addiction by adding friction + AI accountability.\n- Workflow: Intercept → Justify → Mistral Evaluates → Approve/Block + Log.\n",
        "height": 224,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -400
      ],
      "id": "c9273ad2-7a83-40e9-9c72-56841dccf89f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        144
      ],
      "id": "bf112000-e00c-4b60-a290-b6cf680c2ad5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "id": "641433c6-ebb8-4bc2-9483-be9c193ba05d",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "O5v5e3JZp4xXwUJr",
          "name": "Mistral Cloud account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NSxb3gUM3XEtGWKY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NSxb3gUM3XEtGWKY",
          "cachedResultName": "Mistral ai hachathon agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        128,
        128
      ],
      "id": "d43d7f3c-8120-431e-86cf-d0228fee9fc3",
      "name": "Call 'Mistral ai hachathon agent'"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Call 'Mistral ai hachathon agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32d2468c-7425-43fe-993d-2b707b6a7c09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73dba0b80286a5437473305647102e4acdf3f18dd7e54040a6e588d54f2bc2c9"
  },
  "id": "NSxb3gUM3XEtGWKY",
  "tags": []
}
